@keyframes loading-bar {
  0% {
    width: 0%;
    margin-left: 0%;
  }
  50% {
    width: 60%;
    margin-left: 0%;
  }
  100% {
    width: 30%;
    margin-left: 70%;
  }
}

.animate-loading-bar {
  animation: loading-bar 2s ease-in-out infinite;
}